anndata
contourpy
h5py
ipykernel
matplotlib
networkx
numpy
pandas
plotly
requests
scanpy
scikit-learn
scipy
seaborn
tqdm
einops
gitdb
gitpython
matplotlib-venn
pydantic
pypalettes
rotary-embedding-torch
sentry-sdk
setproctitle
typing-extensions
wandb
pyyaml